<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- bootstrap - Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/javascripts/pubstorm.js"></script>
<div class="row footer" role="contentinfo">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <h4>Company</h4>
    <ul class="footer-links">
      <li>&copy; <a href="https://www.pubstorm.com/">PubStorm 2016</a></li>
      <li>
        <a href="https://www.pubstorm.com/dmca">DCMA</a>
      </li>
      <li>
        <a href="https://www.pubstorm.com/terms-of-service">Terms of Service</a>
      </li>
      <li>
        <a href="https://www.pubstorm.com/privacy-policy">Privacy Policy</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <h4>Learn More</h4>
    <ul class="footer-links">
      <li>
        <a href="https://www.pubstorm.com/">PubStorm</a>
      </li>
      <li>
        <a href="https://help.pubstorm.com/">PubStorm Docs</a>
      </li>
      <li>
        <a href="https://www.twitter.com/nitrous">Twitter</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <h4>Get product updates</h4>
    {% include mailchimp.html %}
  </div>
</div>
