<div class="navbar navbar-default">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" id="mmenu" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li>
        <a href="https://www.pubstorm.com">Back to Site &raquo;</a>
      </li>
      <li>
        <a href="https://help.pubstorm.com">Help</a>
      <li>
        <a href="https://www.pubstorm.com/signup" class="btn signup">Sign Up</a>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        PubStorm
        <span class="help">Blog</span>
      </a>
    </div>
  </div>
</div>
